@{
    ViewData["Title"] = ViewBag.title;
}

<div style="text-align:center; margin-bottom: 30px">
    <h1>Lista de contatos</h1>
</div>

<div class="text-center">
    
    
    <form>
        <div class="row mb-3">
            <label for="inputNome" class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputNome">
            </div>
        </div>
        <div class="row mb-3">
            <label for="numero" class="col-sm-2 col-form-label">Número:</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="numero">
            </div>
        </div>    
        <button type="submit" style="align-content" class="btn btn-primary">Salvar</button>
    </form>
</div>
