@{
    ViewData["Title"] = ViewBag.title;
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Record Contacts</h1>     
    
    <a href="https://localhost:7224/Contatos">Comece aqui</a>
</div>
